
.profile-details{
  margin-left: 1rem;
  color: #444444;
}
.profile-details th{
  width: 30%;
  text-align: left;
  vertical-align: top;
}
.profile-view{
  max-width: 50% !important;
  margin-top: 5%;
  margin: auto;
  color: #444444;
}
.profile-details td{
  text-align: left;
}