.features-table caption{
  caption-side: top;
  text-align: center;
  font-weight: bold;
  color: #444444;
  padding: 5%;
}
.features-table{
  /* width: 35%; */
  font-weight: 500;
}
.features-table tr th{
  text-align: center;
}
.feature-link{
  color: #0011bb;
  text-decoration: underline;
  font-weight: bold;
}
.visited{
  color: #6600cc ;
  font-weight: bold;
}
button{
  background: transparent;
  border: none;
}
.feature-mag{
  text-align: center;
  font-weight: 400;
}
.feature-title{
  text-align: left;
}
.feature-time{
  font-weight: 400;
}
thead button.ascending::after {
  content: '👇';
  display: inline-block;
  margin-left: 1em;
}
thead button.descending::after {
  content: '☝️';
  display: inline-block;
  margin-left: 1em;
}